<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.kovalexey.edt.autoopenpropossal.SettingsPage"
            id="org.kovalexey.edt.autoopenpropossal.SettingsPage"
            name="Автооткрытие подсказки">
      </page>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="org.kovalexey.edt.autoopenpropossal.ProposalSettingsInitializer">
      </initializer>
   </extension>
   <extension
         point="com._1c.g5.wiring.serviceProvider">
      <bundle
            symbolicName="org.kovalexey.edt.autoopenpropossal">
      </bundle>
   </extension>

</plugin>
